*{
    box-sizing: border-box;
}

.login{
    width: 35em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin-left: 30%;
    margin-top: 15%;
}

.login_title{
    font-size: 30px;
    text-align: center;
    flex-direction: column;

}

.login_list{
    width: 100%;
    list-style: none;
    padding: 0.5rem;
}




.login_button:hover{
    background-color: darkslategray;
}