a {
    cursor: pointer;
}
.Nav {
    background: black;
    width: 100%;
    display: flex;
    color: white;
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
}

.User_name {
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
}

.title{
    cursor: pointer;
}